@import '../../styles/Animation.scss';
.aboutMe {
    width: 100%;
    height: 100%;
    z-index: 8;
    font-family: 'Baloo Tammudu 2', cursive;
    .first-about-section {
        height: 100vh;
        background: #000123;
        width: 100%;
        position: relative;
        opacity: 1;
        top: 0;
        .left-content.about.two {
            margin-top: -62px;
            margin-left: 14px;   
        }
        .about-right {
            position: absolute;
            width: 59.7%;
            height: 100%;
            right: 0;
            background: #000123;
                img{
                width: 100%;
                height: 100%;
                opacity: .8;
                }
        }
        .scroll-down {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 0;
            left: 5px;
            span {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                height:250px;
                writing-mode: vertical-lr;
                text-orientation: upright;
                animation: infinite-scrollText 3s infinite;
                font-family: 'Baloo Tammudu 2', cursive;
                margin-top: -300px;
            }
            span::after {
                content: "";
                height: 30px;
                width: 1px;
                border-radius: 1.925rem;
                background: #fff;
                display: flex;
                position: absolute;
                bottom: 0;
                left: 12px;
            }
        }
    }


    .second-about-section {
        background: #f3f3f3f3;
        width: 100%;
        height: 100vh;
        margin-top: 200px;
        .max-width {
            .about-section-left{
                width: 50%;
                height: max-content;
                position: absolute;
                left: 240px;
                margin-top: -17px;
                h2 {
                    text-transform: uppercase;
                    font-size: 60px;
                    span {
                        color:#179fcd;
                    }
                }
            }
            .about-section-right {
                width: 50%;
                height: max-content;
                position: absolute;
                right: 0;
                h2 {
                    text-transform: uppercase;
                    font-size: 30px;
                    display: flex;
                    flex-direction: column;
                    letter-spacing: 0px;
                    font-weight: bold;
                    span{
                        margin-top: -25px;
                    }
                }
                .line {
                    height: 4px;
                    border-radius: 12px;
                    width: 190px;
                    background: #179fcd;
                    position: absolute;
                    top: 100px
                }
                .line2 {
                    height: 4px;
                    border-radius: 12px;
                    width: 190px;
                    background: #179fcd;
                    position: absolute;
                    top: 115px;
                    left: 160px;
                }
                div {
                    p{
                        font-size: 15px;
                        width: 500px;
                        color: #828c96;
                        margin: 30px 0;
                        
                    }
                    img{
                        width: 500px;
                        height: 450px;
                        box-shadow: 0px 25px 105px #828c96;
                    }
                }
            }
        }
    }

    .three-about-section {
        background: #fff;
        width: 100%;
        height: 100vh;
        margin-top: 200px;
        position: relative;
        .about-section-top {
            width: fit-content;
            height: 15%;
            position: absolute;
            left: 240px;
            h2{
            text-transform: uppercase;
            font-size: 60px;
                span {
                    color:#179fcd;
                }
            }
        }
        .about-section-bottom {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 80%;
            height: 85%;
            margin-left: 240px;
            .passion {
                width: 80%;
                margin-top: 200px;
                h2{
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 30px;
                }
                img {
                    width: 100%;
                    height: 40%;
                }
                div {
                    width: 100%;
                    
                    p{
                        font-size: 15px;
                        text-align: center;
                        width: 100%;
                        height: fit-content;
                        color: #828c96;
                    }
                }
            }
        }
    }

    .four-about-section {
        background: #fff;
        width: 100%;
        height: 100vh;
        margin-top: 100px;
        position: relative;
        .about-section-top {
            width: fit-content;
            height: 15%;
            position: absolute;
            left: 240px;
            h2{
            text-transform: uppercase;
            font-size: 60px;
                span {
                    color:#179fcd;
                }
            }
        }
        .about-section-bottom {
            width: 100%;
            height: 100%;
            .container-skills {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 70%;
                height: 65%;
                margin-left: 240px;
                position: absolute;
                top: 150px;
                left: 150px;
                ul {
                    margin-right: 400px;
                    height: fit-content;
                    li{
                        text-decoration: none;
                        list-style: none;
                        display: flex;
                        margin: 25px 0;
                        div {
                            
                            img {
                                width: 70px;
                                height: 70px;
                            }
                        }
                        h2 {
                            display: flex;
                            align-items: center;
                            padding-left: 15px;
                            font-size: 26px;
                            font-weight: bold;
                        }
                        h2::after {
                            position: absolute;
                            margin-top: 20px;
                            content: '';
                            width: 100px;
                            height: 3px;
                            border-radius: 25px;
                            background: #828c96;
                        }
                        h2::before {
                            position: absolute;
                            margin-top: 35px;
                            margin-left: 65px;
                            content: '';
                            width: 100px;
                            height: 3px;
                            border-radius: 25px;
                            background: #828c96;
                        }
                    }
                }
            }
        }
        footer {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 80px;
            background: #000123;
            display: flex;
            justify-content: space-around;
            opacity: 1;
            div{
                display: flex;
                align-items: center;
                height: 100%;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 22px;
                    text-transform: uppercase;
                    color: #ffffff;
                    align-items: center;
                    svg {
                        font-size: 26px;
                    }
                }
                a:hover {
                    color: #179fcd;
                }
            }
            div:nth-child(1) {
                padding-top: 15px;
                padding-left: 70px;
                span {
                    position: absolute;
                    left: 270px;
                    top: 30px;
                    
                }
            }
        }
    }
}