.left-content.about {
    margin-left: 10px;
    .title {
        margin-left: 175px;
        h2::after {
            right: 280px;
        }
        h2::before {
            left: 0;
        }
    }
}