
@media screen and (max-width: 1643px) {
    .fullpage-wrapper {
        .max-width {
            a {
                width: 45%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .projectMe {
        .second-project-section {
            .container-projects {
                left: 8% !important;
            }
            footer {
                div:nth-child(1) {
                    a {
                        div {
                            padding-left: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1498px) {
    .fp-tableCell {
        div {
            .content-img {
                li {
                    div {
                        img {
                            top: -60px;
                            left: 310px;
                        }
                    }
                }
            }
        }
        .container-home {
            padding-top: 300px;
            padding-left: 90px;
            .container-hi {
                height: 60px;
                p {
                    font-size: 35px;
                }
            }
            .container-me {
                margin-top: -30px;
                .h1 {
                    font-size: 150px;
                    margin-bottom: 0;
                }
                .h2 {
                    margin-top: -30px;
                    font-size: 25px;
                }
            }
            .line {
                top: 500px;
                left: 80px;
            }
            .line2 {
                top: 515px;
                left: 240px;
            }
            .contact-home {
                top: 620px;
            }
        }
    }
    .fullpage-wrapper {
        .max-width {
            .title {
                width: 100%;
                height: 50%;
                bottom: 0;
                top: auto;
                left: 30px;
                h2 {
                    font-size: 60px;
                    top: 70px;
                    left: 90px;
                    animation: none;
                    span {
                        top: 0px;
                        left: 160px;
                    }
                }
                .line {
                    top: 155px;
                    animation: none;
                    left: 90px;
                }
                .line2 {
                    top: 170px;
                    animation: none;
                    left: 250px;
                }
                p {
                    top: 200px;
                    left: 90px;
                    animation: none;
                    width: 100%;
                }
                .contact-social {
                    top: 220px;
                    display: flex;
                    left: 90px;
                    a:nth-child(1) {
                        padding-left: 0px;
                        margin-left: -30px;
                    }
                }
                .contact-email {
                    a {
                        top: 330px;
                    }
                }
                div {
                    a{
                    top: 260px;
                    animation: none;
                    left: 90px;
                    padding-top: 15px;
                    }
                }
            }
            a {
                height: 50%;
                width: 80%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                top: 130px;
                img {
                    width: 100%;
                }
            }
        }
    }
    #fp-nav.fp-right {
        left: auto !important;
        right: 50% !important;
        bottom: -34px;
        top: auto;
        transform: rotate(-90deg);
    }
    .projectMe {
        .first-project-section {
            
            .project-right {
                img {
                    object-fit: cover;
                    
                }
            }
        }
    }
    .aboutMe {
        .first-about-section {
            .about-section-left{
                .title.about-me {
                    left: 160px !important;
                }
            }
        }
        .four-about-section {
            .max-width {
                .about-section-bottom {
                    .container-skills {
                        margin-left: 100px;
                    }
                }
            }
            footer {
                div:nth-child(1) {
                    padding-left: 0px !important;
                    a {
                        div {
                            padding-left: 0px !important;
                            span {
                                left: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .aboutMe {
        .first-about-section {
            .about-section-left{
                .title.about-me {
                    left: 140px !important;
                    h2 {
                        font-size: 100px !important;
                    }
                }
            }
        }
        .second-about-section {
            .max-width {
                position: relative;
                .about-section-left {
                    width: 100% !important;
                    left: 0 !important;
                    padding-left: 100px;
                }
                .about-section-right {
                    width: 100% !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 100px;
                    h2 {
                        flex-direction: row !important;
                        span {
                            margin-top: 0 !important;
                            margin-left: 9px ;
                        }
                    }
                    .line {
                        top: 42px !important;
                        left: 442px;
                        width: 120px !important;
                    }
                    .line2 {
                        top: 57px !important;
                        left: 532px !important;
                        width: 120px !important;
                    }
                    div {
                        position: absolute;
                        top: 120px;
                        width: 100%;
                        text-align: center;
                        p {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
        .three-about-section{
            .about-section-top {
                left: 100px !important;
            }
            .about-section-bottom {
                margin-left: 160px !important;
                .passion {
                    margin-top: 140px !important;
                    h2 {
                        font-size: 24px !important;
                    }
                    div {
                        p {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
        .four-about-section {
            .max-width {
                .about-section-bottom {
                    .container-skills {
                        margin-left: 0px;
                        left: 50px;
                    }
                }
            }
            footer {
                div:nth-child(1) {
                    padding-left: 0px !important;
                    a {
                        div {
                            padding-left: 0px !important;
                            span {
                                left: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .fullpage-wrapper{
        .max-width {
            a {
                height: 50%;
                width: 90%;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                top: 130px;
                right: 5.5%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .projectMe {
        .project-left {
            .title.project {
                h2 {
                    top: 60px;
                    font-size: 150px !important;
                }
            }
        }
        .second-project-section {
            .title.project-section2 {
                left: 75px !important;
            }
            .container-projects {
                left: 27px !important;
                width: 95% !important;
            }
            footer {
                div:nth-child(1) {
                    padding-left: 0px !important;
                    a {
                        div {
                            padding-left: 0px !important;
                        }
                    }
                }
            }
        }
    }
    .aboutMe {
        .first-about-section {
            .about-section-left{
                .title.about-me {
                    left: 80px !important;
                    h2 {
                        font-size: 90px !important;
                    }
                    .line {
                        top: 170px !important;
                    }
                    .line2 {
                        top: 185px !important;
                    }
                    p {
                        top: 260px !important;
                        width: 100% !important;
                    }
                }
            }
        }
        .second-about-section {
            .max-width {
                position: relative;
                .about-section-left {
                    width: 100% !important;
                    left: 0 !important;
                    padding-left: 40px;
                }
                .about-section-right {
                    h2 {
                        flex-direction: row !important;
                        margin-left: -430px;
                        span {
                            margin-top: 0 !important;
                            margin-left: 9px ;
                        }
                    }
                    .line {
                        left: 43px;
                    }
                    .line2 {
                        left: 133px !important;
                    }
                    div {
                        top: 70px;
                        p {
                            width: 100% !important;
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .three-about-section{
            .about-section-top {
                left: 36px !important;
            }
            .about-section-bottom {
                margin-left: 100px !important;
                .passion {
                    margin-top: 140px !important;
                    h2 {
                        font-size: 20px !important;
                    }
                    div {
                        p {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
        .four-about-section {
            .max-width {
                .about-section-top {
                    left: 50px;
                }
                .about-section-bottom {
                    .container-skills {
                        margin-left: 0px;
                        left: 0px;
                        ul:nth-child(1) {
                            margin-right: 225px;
                        }
                    }
                }
            }
            footer {
                div:nth-child(1) {
                    a {
                        div {
                            padding-left: 0px !important;
                            span {
                                left: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .container-home {
        padding-top: 300px;
        padding-left: 90px;
        .container-hi {
            height: 60px;
            p {
                font-size: 25px !important;
            }
        }
        .container-me {
            margin-top: -40px !important;
            .h1 {
                font-size: 110px !important;
                margin-bottom: 0;
                margin-left: -10px !important;
                height: fit-content !important;
            }
            .h2 {
                font-size: 20px !important;
                margin-left: -7px !important;
            }
        }
        .line {
            top: 510px !important;
            left: 83px !important;
            width: 140px !important;
        }
        .line2 {
            top: 525px !important;
            left: 190px !important;
            width: 140px !important;
        }
        .contact-home {
            top: 590px !important;
            font-size: 30px !important;
            width: 50% !important;
            a:nth-child(1) {
                margin-left: -10px !important;
            }
            a{ 
                margin-left: 40px !important;
            }
        }
    }
    .fullpage-wrapper {
        .max-width {
            .title {
                width: 100%;
                height: 50%;
                bottom: 0;
                top: auto;
                left: 30px;
                h2 {
                    font-size: 60px;
                    top: 70px;
                    left: 0px;
                    animation: none;
                    span {
                        top: 0px;
                        left: 160px;
                    }
                }
                .line {
                    top: 155px;
                    animation: none;
                    left: 0px;
                }
                .line2 {
                    top: 170px;
                    animation: none;
                    left: 160px;
                }
                p {
                    top: 200px;
                    left: 0px;
                    animation: none;
                    width: 100%;
                }
                .contact-social {
                    top: 220px;
                    display: flex;
                    margin-left: -95px;
                    width: 90%;
                    a:nth-child(1) {
                        padding-left: 0px;
                        margin-left: -30px;
                    }
                }
                .contact-email {
                    a {
                        top: 330px;
                    }
                }
                div {
                    a{
                    top: 260px;
                    animation: none;
                    left: 0px;
                    padding-top: 15px;
                    width: 50%;
                    }
                }
            }
        }
    }
    .projectMe {
        .project-left {
            .title.project {
                left: 75px !important;
                h2 {
                    top: 80px;
                    font-size: 120px !important;
                }
                .line {
                    width: 150px !important;
                }
                .line2 {
                    width: 150px !important;
                    left: 125px !important;
                }
            }
        }
        .second-project-section {
            .container-projects {
                left: 20px !important;
                div {
                    div {
                        div {
                            ul {
                                li {
                                    div {
                                        div {
                                            left: -160px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 523px) {
    .container-home {
        padding-top: 100px !important;
        padding-left: 50px !important;
        .container-hi {
            height: 60px;
            p {
                font-size: 25px !important;
            }
        }
        .container-me {
            margin-top: -40px !important;
            .h1 {
                font-size: 110px !important;
                margin-bottom: 0;
                margin-left: -10px !important;
                height: fit-content !important;
            }
            .h2 {
                font-size: 20px !important;
                margin-left: -7px !important;
            }
        }
        .line {
            top: 240px !important;
            left: 48px !important;
            width: 140px !important;
        }
        .line2 {
            top: 255px !important;
            left: 148px !important;
            width: 140px !important;
        }
        .contact-home {
            top: 390px !important;
            font-size: 30px !important;
            width: 70% !important;
            a:nth-child(1) {
                margin-left: -10px !important;
            }
            a{ 
                margin-left: 40px !important;
            }
        }
    }
    .fullpage-wrapper {
        .max-width {
            .title {
                width: 100%;
                height: 40%;
                bottom: 0;
                top: 250px !important;
                left: 20px;
                h2 {
                    font-size: 55px;
                    top: 78px;
                    left: 0px;
                    animation: none;
                    span {
                        top: 0px;
                        left: 160px;
                    }
                }
                .line {
                    top: 155px;
                    animation: none;
                    left: 0px;
                    width: 160px;
                }
                .line2 {
                    top: 170px;
                    animation: none;
                    width: 160px;
                    left: 130px;
                }
                p {
                    top: 200px;
                    left: 0px;
                    animation: none;
                    width: 100%;
                    font-size: 20px;
                }
                .contact-social {
                    top: 220px;
                    display: flex;
                    margin-left: -76px;
                    width: 90%;
                    a:nth-child(1) {
                        padding-left: 0px;
                        margin-left: -30px;
                    }
                }
                .contact-email {
                    a {
                        top: 330px;
                    }
                }
                div {
                    a{
                    top: 260px;
                    animation: none;
                    left: 0px;
                    padding-top: 15px;
                    width: 90%;
                    }
                }
            }
            .title.about {
                p {
                    width: 80%;
                }
                div {
                    a {
                        top: 310px;
                    }
                }
            }
            .title.contact {
                .contact-social {
                    top: 210px;
                }
            }
            a {
                top: 90px;
                height: 40%;
                img {

                }
            }
        }
    }
    .projectMe {
        .project-left {
            .title.project {
                top: 40px !important;
                left: 55px !important;
                h2 {
                    top: 120px;
                    font-size: 90px !important;
                }
                .line {
                    width: 120px !important;
                }
                .line2 {
                    width: 120px !important;
                    left: 95px !important;
                }
                p {
                    font-size: 25px !important;
                }
            }
        }
        .second-project-section {
            .title.project-section2 {
                left: 10px !important;
                h2 {
                    font-size: 30px !important;
                    
                }
            }
            .container-projects {
                left: 20px !important;
                div {
                    div {
                        div {
                            ul {
                                li {
                                    div {
                                        div {
                                            left: -270px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 420px) {
    .container-home {
        padding-top: 150px !important;
        padding-left: 20px !important;
        .container-hi {
            height: 60px;
            p {
                font-size: 25px !important;
            }
        }
        .container-me {
            margin-top: -40px !important;
            .h1 {
                font-size: 110px !important;
                margin-bottom: 0;
                margin-left: -10px !important;
                height: fit-content !important;
            }
            .h2 {
                font-size: 20px !important;
                margin-left: -7px !important;
            }
        }
        .line {
            top: 290px !important;
            left: 18px !important;
            width: 140px !important;
        }
        .line2 {
            top: 305px !important;
            left: 118px !important;
            width: 140px !important;
        }
        .contact-home {
            top: 410px !important;
            font-size: 30px !important;
            width: 100% !important;
            left: 30px;
            a:nth-child(1) {
                margin-left: -10px !important;
            }
            a{ 
                margin-left: 60px !important;
            }
        }
    }
    .fullpage-wrapper {
        .max-width {
            .title {
                width: 100%;
                height: 50%;
                bottom: 0;
                top: 225px !important;
                left: 30px;
                h2 {
                    font-size: 50px;
                    top: 85px;
                    left: -15px;
                    animation: none;
                    span {
                        top: 0px;
                        left: 140px;
                    }
                }
                .line {
                    top: 155px;
                    animation: none;
                    left: 0px;
                    width: 160px;
                }
                .line2 {
                    top: 170px;
                    animation: none;
                    width: 160px;
                    left: 120px;
                }
                p {
                    top: 200px;
                    left: 0px;
                    animation: none;
                    width: 100%;
                    font-size: 20px;
                }
                .contact-social {
                    top: 220px;
                    display: flex;
                    margin-left: -90px;
                    width: 90%;
                    a:nth-child(1) {
                        padding-left: 0px;
                        margin-left: -30px;
                    }
                }
                .contact-email {
                    a {
                        top: 330px;
                    }
                }
                div {
                    a{
                    top: 260px;
                    animation: none;
                    left: -13px;
                    padding-top: 15px;
                    width: 90%;
                    }
                }
            }
            .title.contact {
                .contact-social {
                    top: 210px;
                }
                div {
                    a {
                        top: 290px;
                    }
                }
            }
        }
    }
    .projectMe{
        .second-project-section{
            .container-projects {
                left: 20px !important;
                div {
                    div {
                        div {
                            ul {
                                li {
                                    div {
                                        div {
                                            left: -320px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    
}



@media screen and (max-width: 341px) {
    .container-home {
        padding-top: 150px !important;
        padding-left: 20px !important;
        .container-hi {
            height: 60px;
            p {
                font-size: 18px !important;
            }
        }
        .container-me {
            margin-top: -40px !important;
            .h1 {
                font-size: 80px !important;
                margin-bottom: 0px !important;
                margin-left: -10px !important;
                height: fit-content !important;
            }
            .h2 {
                font-size: 13px !important;
                margin-left: -7px !important;
                margin-top: 0px !important;
            }
        }
        .line {
            top: 260px !important;
            left: 15px !important;
            width: 90px !important;
        }
        .line2 {
            top: 275px !important;
            left: 75px !important;
            width: 90px !important;
        }
        .contact-home {
            top: 370px !important;
            font-size: 25px !important;
            width: 100% !important;
            left: 30px;
            a:nth-child(1) {
                margin-left: -10px !important;
            }
            a{ 
                margin-left: 35px !important;
            }
        }
    }
    .fullpage-wrapper {
        .max-width {
            .title {
                width: 100%;
                height: 50%;
                bottom: 0;
                top: 219px !important;
                left: 30px;
                h2 {
                    font-size: 50px;
                    top: 85px;
                    left: -15px;
                    animation: none;
                    span {
                        top: 0px;
                        left: 140px;
                    }
                }
                .line {
                    top: 155px;
                    animation: none;
                    left: -15px;
                    width: 90px;
                }
                .line2 {
                    top: 170px;
                    animation: none;
                    width: 90px;
                    left: 55px;
                }
                p {
                    top: 200px;
                    left: -15px;
                    animation: none;
                    width: 100%;
                    font-size: 20px;
                }
                .contact-social {
                    top: 220px;
                    display: flex;
                    margin-left: -90px;
                    width: 90%;
                    a:nth-child(1) {
                        padding-left: 0px;
                        margin-left: -30px;
                    }
                    a {
                        margin-left: 0px;
                    }
                }
                .contact-email {
                    a {
                        top: 330px;
                    }
                }
                div {
                    a{
                    top: 260px;
                    animation: none;
                    left: -13px;
                    padding-top: 15px;
                    width: 90%;
                    }
                }
            }
            .title.contact {
                .contact-social {
                    top: 210px;
                }
                div {
                    a {
                        top: 290px;
                    }
                }
            }
        }
    }
    .projectMe{
        .second-project-section{
            .container-projects {
                left: 20px !important;
                div {
                    div {
                        div {
                            ul {
                                li {
                                    div {
                                        div {
                                            left: -360px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


