@import '../../styles/Animation.scss';

.left-content.contact {
    margin-left: 102px;
    .title {
        h2 {
            display: flex;
            flex-direction: row;
            span {
                position: relative;
                margin-top: 160px;
                margin-left: -142px;
            }
        }
        h2::after {
            right: 300px;
        }
        h2::before {
            left: 0;
        }
    }
    .social-media {
        width: 555.13px;
        margin-top: -60px;
        margin-left: -500px;
        z-index: 10;
        a{
            font-size: 40px;
            color: #fff;
            padding-left: 50px;
            transition: ease-in-out .25s;
        }
        a:hover {
            color: #179fcd;
        }
    }
    .content-button {
        margin-top: 20px;
        margin-left: -208px;
        a{
            font-size: 16px;
            font-weight: bold;
            text-transform: lowercase;
        }
    }
}