@import '../../../styles/Animation.scss';

.container.navbar {
    position: fixed;
    right: 41px;
    top: 29px;
    width: 50px;
    height: 40px;
    z-index: 110;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.hamburger-icon {
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    transition: all .5s ease .3s;
    div {
        height: 4px;
        background: #fff;
        transition: all 0.4s ease 0s;
    }
    .bar-one {
        width: 60%;
        margin-left: 19px;
    }
    .bar-two {
        width: 100%;
    }
    .bar-three {
        width: 60%;
        
    }
    .rounded {
        border-radius: 1.925rem;
    }
}

.hamburger-icon:hover {
    .bar-two {
        width: 86%;
    }
}

.hamburger-icon.active {
    .bar-one {
        transform: rotate(55deg);
        position: absolute;
        top: 18px;
        margin-left: 0;
        left: 8px;
    }
    .bar-two {
        position: absolute;
        animation: bar-two-out .5s 0.15s forwards;
    }
    .bar-three {
        transform: rotate(125deg);
        position: absolute;
        top: 18px;
        left: 8px;
    }
}

.container-nav.out.active {
    visibility: visible;
    width: 100%;
    height: 100vh;
    background: #000000;
    z-index: 10;
    margin: 0;
    position: relative;
    .background {
        position: absolute; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        z-index: -1;
        video {
            object-fit: cover;
            width: 100%;
            height: 100vh;
            position: absolute;
            opacity: .3;
        }
    }
    .right-side.astronaut {
        position: absolute;
        right: 0;
        display: flex;
        text-align: center;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 200px;
            height: 450px;
            -webkit-animation:spin 4s linear infinite;
            -moz-animation:spin 4s linear infinite;
            animation:spin 10s linear infinite;
        }
    }
    .left-side {
        width: 50%;
        height: 100%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Baloo Tammudu 2', cursive;
        .content-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            direction: ltr;
            justify-content: center;
            align-items: center;
            height: 100%;
            a {
                color: #fff;
                letter-spacing: -6px;
                font-size: 70px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                transition: ease-in-out .25s;
            }
            a:hover {
                letter-spacing: 0;
            }
            div {
                margin-top: -10px;
                display: flex;
                flex-direction: column;
                width: fit-content;
                a {
                    font-size: 40px;
                    color: #fff;
                    margin: 45px 0;
                    transition: ease-in-out .25s;
                }
                a:hover {
                    color: #179fcd;
                }
            }
        }
        .content-right {
            width: 100%;
            display: flex;
            direction: rtl;
            flex-direction: column;
            margin-left: auto;
            justify-content: center;
            height: 100%;
            a {
                margin: 10px 0;
                font-size: 70px;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: -6px;
                transition: ease-in-out .25s;
                display: flex;
                font-weight: bold;
            }
            a:hover {
                letter-spacing: 0;
            }
        }
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }