@import '../../styles/Animation.scss';

.projectMe {
    width: 100%;
    height: 100%;
    z-index: 8;
    font-family: 'Baloo Tammudu 2', cursive;
    .first-project-section {
        background: #000123;
        position: relative;
        top:0;
        width: 100%;
        height: 100vh;
        z-index: 8;
        .left-content.project.two {
            margin-left: 4px;
            margin-top: -62px;
        }
        .project-right {
            position: absolute;
            width: 59.7%;
            height: 100%;
            right: 0;
            background: #000123;
                img{
                width: 100%;
                height: 100%;
                opacity: .8;
                }
        }
        .scroll-down {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 0;
            left: 5px;
            span {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                height:250px;
                writing-mode: vertical-lr;
                text-orientation: upright;
                animation: infinite-scrollText 3s infinite;
                font-family: 'Baloo Tammudu 2', cursive;
                margin-top: -300px;
            }
            span::after {
                content: "";
                height: 30px;
                width: 1px;
                border-radius: 1.925rem;
                background: #fff;
                display: flex;
                position: absolute;
                bottom: 0;
                left: 12px;
            }
        }
    }
    .second-project-section {
        width: 100%;
        height: 100vh;
        color: #fff;
        position: relative;
        top: 130px;
        .title.project-section2 {
            position: absolute;
            height: fit-content;
            top: -25px;
            padding-left: 35px;
            h2{
                color: #000;
                text-transform: uppercase;
                font-size: 45px;
                font-weight: bold;
                letter-spacing: 0px;
                height: 75px;
                span {
                    color: #179fcd;
                }
            }
        }
        .container-projects {
            color: #000;
            width: 100%;
            position: absolute;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: 98%;
                height: 90%;
                border-radius: 5px;
                div {
                    border-radius: 5px;
                    ul {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        li {
                            div {
                                position: relative;
                                border-radius: 5px;
                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    border-radius: 5px;
                                }
                                div {
                                    bottom: 8px;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: center;
                                    div {
                                        border-radius: 6px;
                                        padding: 10px;
                                        width: fit-content;
                                        height: fit-content;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        align-content: center;
                                        width: 140px;
                                        background: #179fcd;
                                        margin: 0 10px;
                                        opacity: .7;
                                        z-index: 15;
                                        a{
                                            padding-top: 5px;
                                            text-align: center;
                                            height: 100%;
                                            color: #fff;
                                            z-index: 15;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}