
.arrow {
    display: flex;
    position: fixed;
    width: fit-content;
    height: fit-content;
    z-index: 10;
        span {
        width: 60px;
        height: 4px;
        position: fixed;
        background: #fff;
        color: #fff;
        z-index: 10;
        left: 42px;
        top: 115px;
        border-radius: 1.925rem;
    }
}
.arrow span::before {
    width: 25px;
    content: '';
    top: 110px;
    height: 4px;
    background: #fff;
    border-radius: 1.925rem;
    z-index: 10;
    position: fixed;
    transform: rotate(-20deg);
}
.arrow span::after {
    width: 25px;
    content: '';
    top: 120px;
    height: 4px;
    background: #fff;
    border-radius: 1.925rem;
    z-index: 10;
    position: fixed;
    transform: rotate(20deg);
}
.arrow.changeColor span, .arrow.changeColor span::before, .arrow.changeColor span::after {
    background: #179fcd;
}