.title-h1 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -5.6px;
    font-size: 38px;
    position: fixed;
    top: 20px;
    left: 39px;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 110;
    color: #fff;
    text-decoration: none;
    transition: ease-in-out .2s;
}

.title-h1:hover {
    letter-spacing: 0px;
}